/*@media all and (max-width: 699px) and (min-width: 520px), (min-width: 1151px)
*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: black;
}

h1, h2 {
/*  font-family: 'Red Hat Display', sans-serif;*/
  font-family: 'Rubik Mono One', sans-serif;
  font-weight: 700;
  color : #F24333;
}

/*h3 {
  font-family: 'Red Hat Display', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: black;
}*/

a {
  text-decoration: none;
  color:black
}

a:hover {
  color: black;
}

.img-circle {
  width: 300px;
  height: 300px;
/*  border-radius: 50%;*/
}

.img-circle:hover {
  transform: rotate(180deg);
}

.portrait {
  display: flex;
  position: absolute;
  top: 0;
  height: 100vh;
  width: 700px;
  justify-content: center;
  align-items: center;
}

  @media (max-width:720px) {
    .portrait {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .portrait {
    width: 300px;
  }
}


.img-card {
  position: center;
  width: 700px;
  margin-top: 28px;
}

.img-card:hover {
  transform: rotate(180deg);
}

  @media (max-width:720px) {
    .img-card {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .img-card {
    width: 300px;
  }
}


.container {
  margin: 0 auto;
  width: 700px;
}


@media (max-width:720px) {
    .container {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .container {
    width: 300px;
  }
}


.green {
/*  background-color: #CFD7C7;
  box-shadow: 0px 5px 5px rgba(0,0,0,0.1);*/
  border-radius: 3px;
  padding: 20px;
  width:670px;
  height:100vh;
  margin-bottom: 100px;
  }

  @media (max-width:720px) {
    .green {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .green {
    width: 300px;
  }
}


.card {
  text-align: center;
  margin-bottom: 50px;
}

  @media (max-width:720px) {
    .card {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .card {
    width: 300px;
  }
}

.bottom-rule {
  position: absolute;
  bottom: 20px;
  margin: 0 auto;
  width: 670px;
}


@media (max-width:720px) {
    .bottom-rule {
      width:600px;
    }
  }

@media (max-width: 540px) {
  .bottom-rule {
    width: 300px;
  }
}


.btn {
  background-color: lightgrey;
  /*color: #0B2027;*/
  border-radius: 3px;
  padding: 8px 10px;
  font-size: 18px;
}

.btn:hover {
  background-color: #F24333;
}

.list-inline {
  padding: 0px;
}

.list-inline li {
  list-style: none;
  display: inline-block;
  font-size: 40px;
}

.margin-bottom {
  margin-bottom: 20px;
}

.last {
  margin-left: 20px;
}
